# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Packaging/build
build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# optional env files
.env
.venv/
venv/
# Output (generated at runtime)
output/
test_output/